{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h2>The Jocker</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore illum tempora in minima quasi iste ab doloribus quod voluptas eos, minus, saepe nesciunt beatae? Mollitia reiciendis molestiae delectus unde eos.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/jocker.jpeg" alt="Jocker" class="img-thumbnail">
        </div>
    </div>

{{> footer }}